body {
    margin-top: 250px;
}

.bg-green {
    background-color: #31cb92;
}

.bg-gray {
    background-color: lightgray;
}

.help-block {
    font-size: 12px;
}

.project > h1 {
    margin-top: 10px;
    font-size: 4em;
    text-shadow: 2px 2px 2px darkgray;
    margin-bottom: 0;
}

.project hr , #issue hr {
    border-color: #42dca3;
}

.project .small-issue {
    width: 90%;
    margin: 0 auto;
}

.project .small-issue h3 {
    color: black;
    margin: 10px 0;
}

.project .small-issue p {
    color: black;
    margin: 10px 0;
}

.project .small-issue a {
    padding: 10px;
    margin-top:5px;
}

#issue h1 {
    padding: 10px 0 20px 0;
    margin:0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#issue .issue-description {
    color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#buttonMenu {
    display: block;
    position: fixed;
    left: -110px;
    top: 100px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#buttonMenu#tick {
    display: block;
    position: relative;
    left: 5px;
}

#buttonMenu:hover {
    left:0px;
}

@media (max-width: 480px) {
    .project {
        border-left: none;
        border-right: none;
        border-radius: 0px;
    }
}