<aside id="buttonMenu">
    <div class="btn-group btn-group-vertical">
        <div class="btn-group">
            <button class="btn btn-success btn-lg bg-green" type="button" ng-click="showUserInfo = !showUserInfo">
                Profile
            </button>
        </div>
        <div class="btn-group">
            <button class="btn btn-danger btn-lg" type="button"ng-click='logOut();'>
                LogOut
            </button>
        </div>
    </div>
    <span id="tick">></span>
</aside>
<div ng-show='showUserInfo' class="row">
    <h1 class="text-center">Profile Info</h1>
    <div id="userInfo" class="col-xs-10 col-xs-offset-1">
        <div class="list-group text-center">
            <a class="row list-group-item">
                <h4 class="list-group-item-heading"><strong>Username: </strong>{{userInfo.Username}}</h4>
                <span class="list-group-item-text"><strong>ID: </strong>{{userInfo.Id}}</span>
            </a>
            <a class="row list-group-item">
                <h4 class="list-group-item-heading">Has Admin rights</h4>
                <span class="list-group-item-text">{{userInfo.isAdmin}}</span>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <h1>{{authenticated}}</h1>
    <div class="text-center col-xs-12">
        <h1>Welcome {{user}}</h3>
    </div>
</div>
<div class="row text-center">
    <div id='userProjects' class="col-lg-5">
        <div class="list-group">
            <a ng-repeat="project in projects" ng-href="{{project.link}}" class="row list-group-item">
                <h4 class="list-group-item-heading">{{project.name}}</h4>
                <span class="list-group-item-text">{{project.description}}</span>
            </a>
        </div>
    </div>
    <div id="userIssues" class="col-lg-5 col-lg-offset-1">
        <div class="list-group">
            <a ng-repeat="issue in issues" ng-href="{{issue.link}}" class="row list-group-item">
                <h4 class="list-group-item-heading">{{issue.name}}</h4>
                <span class="list-group-item-text col-lg-6">{{issue.project}}</span>
                <span class="list-group-item-text col-lg-6">{{issue.dueDate}}</span>
            </a>
        </div>
    </div>
</div>