<div class="row">
    <div class="col-lg-offset-3 col-lg-6 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
        <div id="registerFromContainer" ng-controller="loginController">
            <h2 class="text-center">Register</h2>
            <form name='registerForm' ng-submit="register(user);" class="form-horizontal" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : registerForm.email.$invalid && !registerForm.email.$pristine}">
                    <label for="registerInputEmail">Email address</label>
                    <input name="email" type="email" class="form-control" id="registerInputEmail" placeholder="Email" ng-model="user.email" ng-required="true">
                </div>
                <div class="form-group" ng-class="{ 'has-error' : registerForm.password.$invalid && !registerForm.password.$pristine}">
                    <label for="registerInputPassword">Password</label>
                    <input name="password" ng-change="onChange()" type="password" class="form-control" id="registerInputPassword" ng-minlength="4" ng-maxlength="15" placeholder="Password" ng-model="user.password" ng-required="true">
                    <p ng-show="registerForm.password.$error.minlength" class="help-block">Username is too short.</p>
                    <p ng-show="registerForm.password.$error.maxlength" class="help-block">Username is too long.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : registerForm.cPassword.$invalid && !registerForm.cPassword.$pristine}">
                    <label for="registerInputConfirmPassword">Confirm Password</label>
                    <input name="cPassword" ng-change="onChange()" type="password" class="form-control" id="registerInputConfirmPassword" placeholder="Confirm Password" ng-model="user.cPassword" ng-required="true">
                    <p ng-show="!equal && registerForm.cPassword.$dirty" class="help-block">Passwords do not match.</p>
                </div>
                <div class="text-center">
                    <input ng-disabled="!equal && registerForm.$invalid || registerForm.$pristine" type="submit" class="btn btn-default" value="Register">
                </div>
            </form>
        </div>
        <br>
        <hr>
        <br>
        <h4 class="text-center">Already a User?</h3>
        <div id="loginFormContainer" ng-controller="loginController">
            <h2 class="text-center">Login</h2>
            <form name='loginForm' ng-submit="login(user);" class="form-horizontal" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine}">
                    <label for="inputEmail">Email address</label>
                    <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="user.email" ng-required="true">
                    <p ng-show="loginForm.email.$dirty && loginForm.email.$error.required" class="help-block">Email Required</p>
                    <p ng-show="loginForm.email.$dirty && loginForm.email.$invalid && !loginForm.email.$error.required" class="help-block">Email Invalid</p>
                    
                </div>
                <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine}">
                    <label for="inputPassword">Password</label>
                    <input name="password" type="password" class="form-control" id="inputPassword" ng-minlength="4" ng-maxlength="15" placeholder="Password" ng-model="user.password" ng-required="true">
                    <p ng-show="loginForm.password.$error.minlength" class="help-block">Password is too short.</p>
                    <p ng-show="loginForm.password.$error.maxlength" class="help-block">Password is too long.</p>
                    <p ng-show="loginForm.password.$dirty && loginForm.password.$error.required" class="help-block">Password Required</p>
                </div>
                <div class="text-center">
                    <input type="submit" ng-disabled="loginForm.$invalid || loginForm.$pristine" class="btn btn-default" ng-click="login()" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>
    